@model UdemyIdentity.ViewModels.PasswordResetViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>

<div class="row">
    <div class="col-md-4 offset-4">
        <div class="alert alert-info">
            <p>Yeni şifre Belirlemek için Kayıtlı eposta adresinze göndereceğiz </p>
        </div>
        <h4>Şifremi Unuttum</h4>
        <hr />
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



</body>
</html>
